Repository semaphore-protocol/extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,ts}": "eslint --fix"
}

Deploying to gh-pages from @ semaphore-protocol/extensions@6ce04b57e17d4847413368d32935a9f5d56c0af8 🚀
  classes/HeyAuthn.html
Due: none

docs: add release steps to readme file
  README.md
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@f1bfce47439eb97f9520510d6ef9b591f57ec20b 🚀
  assets/highlight.css
  classes/HeyAuthn.html
  classes/Identity.html
  index.html
Due: none

Create LICENSE
  LICENSE
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@014790e22238e5416c5c0ce77c4cf4860bf1368f 🚀
  classes/HeyAuthn.html
Due: none

docs(benchmarks): update readme file
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  apps/benchmarks/README.md
Due: prettier --write

docs(heyauthn): update readme file
  packages/heyauthn/README.md
Due: prettier --write

docs(benchmarks): update readme file
  apps/benchmarks/README.md
Due: prettier --write

docs: update repo readme file
  README.md
Due: prettier --write

docs: add apps table to readme file
  README.md
Due: prettier --write

docs: update readme file and issue templates
  .github/ISSUE_TEMPLATE/---feature.md
  .github/ISSUE_TEMPLATE/---package.md
  README.md
Due: prettier --write

docs(benchmarks): update deployment tag
  apps/benchmarks/README.md
Due: prettier --write

Update .github/ISSUE_TEMPLATE/---feature.md
  .github/ISSUE_TEMPLATE/---feature.md
Due: prettier --write

Update .github/ISSUE_TEMPLATE/---package.md
  .github/ISSUE_TEMPLATE/---package.md
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@f64d65c09b027ed594105173ceb34748e2b95a10 🚀
  classes/HeyAuthn.html
  index.html
Due: none

docs(heyauthn): update typedoc url
  packages/heyauthn/README.md
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@82fa334292d13f469803f433ad64d35b53ebbc5c 🚀
  classes/HeyAuthn.html
Due: none

feat(benchmarks): add semaphore-v4 benchmarks
  apps/benchmarks/package.json
  apps/benchmarks/src/App.tsx
  apps/benchmarks/src/components/Navbar.tsx
  yarn.lock
Due: prettier --write

Update apps/benchmarks/src/App.tsx
  apps/benchmarks/src/App.tsx
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@56718d6572ad6e3888288c384ff13a936b72bc8f 🚀
  classes/HeyAuthn.html
Due: none

style(benchmarks): format code with prettier
  apps/benchmarks/src/App.tsx
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@c014c50d755f829a35b704eb4704eda739076f27 🚀
  classes/HeyAuthn.html
Due: none

chore: add code owners
  .github/CODEOWNERS
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@e1b187ce6f6c01f946c9f64f81d8188eec944d69 🚀
  classes/HeyAuthn.html
Due: none

chore(benchmarks): update semaphore v4 version
  apps/benchmarks/package.json
  yarn.lock
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@f6da13baa610be77ad19ca206d4f1634739f7b63 🚀
  classes/HeyAuthn.html
Due: none

feat(identity-proof): add identity-proof circuit
  README.md
  packages/identity-proof/.gitignore
  packages/identity-proof/.mocharc.json
  packages/identity-proof/LICENSE
  packages/identity-proof/README.md
  packages/identity-proof/circomkit.json
  packages/identity-proof/circuits.json
  packages/identity-proof/package.json
  packages/identity-proof/src/identity-proof.circom
  packages/identity-proof/tests/common.ts
  packages/identity-proof/tests/identity-proof.test.ts
  packages/identity-proof/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(identity-proof): add identity-proof library
  .eslintignore
  .prettierrc.json
  jest.config.ts
  package.json
  packages/identity-proof.circom/.gitignore
  packages/identity-proof.circom/.mocharc.json
  packages/identity-proof.circom/LICENSE
  packages/identity-proof.circom/README.md
  packages/identity-proof.circom/circomkit.json
  packages/identity-proof.circom/circuits.json
  packages/identity-proof.circom/package.json
  packages/identity-proof.circom/src/identity-proof.circom
  packages/identity-proof.circom/tests/common.ts
  packages/identity-proof.circom/tests/identity-proof.test.ts
  packages/identity-proof.circom/tsconfig.json
  packages/identity-proof/.npmrc
  packages/identity-proof/README.md
  packages/identity-proof/Verifier.sol
  packages/identity-proof/build.tsconfig.json
  packages/identity-proof/package.json
  packages/identity-proof/rollup.config.ts
  packages/identity-proof/src/generate.ts
  packages/identity-proof/src/hash.ts
  packages/identity-proof/src/index.ts
  packages/identity-proof/src/to-bigint.ts
  packages/identity-proof/src/types/index.ts
  packages/identity-proof/src/verification-key.json
  packages/identity-proof/src/verify.ts
  packages/identity-proof/tests/index.test.ts
  packages/identity-proof/tsconfig.json
  packages/identity-proof/typedoc.json
  types/ffjavascript/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci: add circuit tests to ci
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
  package.json
Due: prettier --write

chore(identity-proof): replace utils with artifacts package
  packages/identity-proof/package.json
  packages/identity-proof/src/generate.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(identity-proof): update utils dependency
  packages/identity-proof/package.json
  yarn.lock
Due: prettier --write

chore: set new lockfile
  yarn.lock
Due: none

chore: updat lockfile
  yarn.lock
Due: none

fix(identity-proof): set correct import types
  packages/identity-proof/src/generate.ts
Due: prettier --write, eslint --fix

ci: add scripts to install circom
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
  jest.config.ts
Due: prettier --write, eslint --fix

feat(identity-proof): add identity-proof circuit/package (#10)
  .eslintignore
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
  .prettierrc.json
  README.md
  jest.config.ts
  package.json
  packages/identity-proof.circom/.gitignore
  packages/identity-proof.circom/.mocharc.json
  packages/identity-proof.circom/LICENSE
  packages/identity-proof.circom/README.md
  packages/identity-proof.circom/circomkit.json
  packages/identity-proof.circom/circuits.json
  packages/identity-proof.circom/package.json
  packages/identity-proof.circom/src/identity-proof.circom
  packages/identity-proof.circom/tests/common.ts
  packages/identity-proof.circom/tests/identity-proof.test.ts
  packages/identity-proof.circom/tsconfig.json
  packages/identity-proof/.npmrc
  packages/identity-proof/LICENSE
  packages/identity-proof/README.md
  packages/identity-proof/Verifier.sol
  packages/identity-proof/build.tsconfig.json
  packages/identity-proof/package.json
  packages/identity-proof/rollup.config.ts
  packages/identity-proof/src/generate.ts
  packages/identity-proof/src/hash.ts
  packages/identity-proof/src/index.ts
  packages/identity-proof/src/to-bigint.ts
  packages/identity-proof/src/types/index.ts
  packages/identity-proof/src/verification-key.json
  packages/identity-proof/src/verify.ts
  packages/identity-proof/tests/index.test.ts
  packages/identity-proof/tsconfig.json
  packages/identity-proof/typedoc.json
  types/ffjavascript/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ semaphore-protocol/extensions@7e5b5f34106a512ffa779289bfa88eb20b7add4d 🚀
  assets/highlight.css
  assets/navigation.js
  assets/search.js
  classes/HeyAuthn.html
  classes/Identity.html
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  classes/_semaphore_extensions_heyauthn.Identity.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  index.html
  modules.html
  modules/_semaphore_extensions_heyauthn.html
  modules/_semaphore_extensions_identity_proof.html
  modules/_semaphore_extensions_identity_proof_circom.html
  types/AuthenticationOptions.html
  types/RegistrationOptions.html
  types/_semaphore_extensions_heyauthn.AuthenticationOptions.html
  types/_semaphore_extensions_heyauthn.RegistrationOptions.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: prettier --write, eslint --fix

docs: add identity-proof package to readme file
  README.md
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@650d5a3133b383847f17d9034fd7d2e253495002 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  index.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

docs: update release section
  README.md
Due: prettier --write
