Repository semaphore-protocol/extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,ts}": "eslint --fix"
}

refactor(contracts): removed SemaphoreGroups import
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
Due: prettier --write

fix(contracts): added proof Validation and fixed contracts deploy
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  packages/contracts/tasks/deploy-semaphore-whistle-blowing.ts
Due: prettier --write, eslint --fix

refactor(contracts): refactored code and removed bool value in saved nullifier
  packages/contracts/contracts/README.md
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write

refactor(contracts): removed nullifiers redudant mapping
  packages/contracts/contracts/interfaces/ISemaphoreVoting.sol
Due: prettier --write

Feat/v4 contracts (#14)
  .gitignore
  .lintstagedrc.json
  package.json
  packages/contracts/.env.example
  packages/contracts/.prettierrc.json
  packages/contracts/.solhint.json
  packages/contracts/README.md
  packages/contracts/contracts/LICENSE
  packages/contracts/contracts/README.md
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
  packages/contracts/contracts/package.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/accounts.ts
  packages/contracts/tasks/deploy-semaphore-voting.ts
  packages/contracts/tasks/deploy-semaphore-whistle-blowing.ts
  packages/contracts/test/SemaphoreVoting.ts
  packages/contracts/test/SemaphoreWhistleblowing.ts
  packages/contracts/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: include contracts in scripts
  package.json
  packages/contracts/contracts/README.md
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write

fix(contracts): fix contract extensions
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/test/SemaphoreVoting.ts
  packages/contracts/test/SemaphoreWhistleblowing.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(contracts): fix contract extensions (#16)
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/test/SemaphoreVoting.ts
  packages/contracts/test/SemaphoreWhistleblowing.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update dependencies
  packages/contracts/package.json
  packages/identity-proof/package.json
  packages/identity-proof/src/generate.ts
  yarn.lock
Due: prettier --write, eslint --fix

docs: add contracts package to readme
  README.md
Due: prettier --write

refactor(contracts): update visibility of some functions
  packages/contracts/contracts/SemaphoreVoting.sol
Due: prettier --write

refactor(contracts): update visibility of some functions (#17)
  packages/contracts/contracts/SemaphoreVoting.sol
Due: prettier --write

Fix CI workflows for contract extensions (#15)
  .gitignore
  .lintstagedrc.json
  README.md
  package.json
  packages/contracts/.env.example
  packages/contracts/.prettierrc.json
  packages/contracts/.solhint.json
  packages/contracts/README.md
  packages/contracts/contracts/LICENSE
  packages/contracts/contracts/README.md
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
  packages/contracts/contracts/package.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/accounts.ts
  packages/contracts/tasks/deploy-semaphore-voting.ts
  packages/contracts/tasks/deploy-semaphore-whistle-blowing.ts
  packages/contracts/test/SemaphoreVoting.ts
  packages/contracts/test/SemaphoreWhistleblowing.ts
  packages/contracts/tsconfig.json
  packages/identity-proof/package.json
  packages/identity-proof/src/generate.ts
  yarn.lock
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ semaphore-protocol/extensions@f4a913d858157e45950057f8093692afb8f61b91 🚀
  assets/navigation.js
  assets/search.js
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  index.html
  modules/contract_extensions.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: prettier --write, eslint --fix

chore(contracts): v1.0.0-alpha.1
  packages/contracts/contracts/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@405ecf32e8677063bc9c97cbb8be5892e9fe32f9 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore: update script to remove stable-version field
  scripts/remove-stable-version-field.ts
Due: prettier --write, eslint --fix

chore(contracts): remove stable-version field
  packages/contracts/contracts/package.json
Due: prettier --write

chore(contracts): v1.0.0-alpha.2
  packages/contracts/contracts/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@825605465c1d8fb6f0ae402521f39531732d8e9e 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(contracts): v1.0.0-beta.1
  packages/contracts/contracts/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@7816e8109da282890f30397dbb9de2e6d3a3fdb3 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(contracts): make main package.json private
  packages/contracts/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@e243cf0d74f8c025904076d7c73e53bfc3f986a8 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(contracts): v1.0.0-alpha.1
  packages/contracts/contracts/package.json
  packages/contracts/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@687bb1195e78782ab440ed3f30bceedb130fe27d 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(contracts): v1.0.0-beta.2
  packages/contracts/contracts/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@99c55d3aa6b1a4035ebc8bffab0ce2686adc69a5 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(contracts): make package.json private
  packages/contracts/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@9171ca18c9a64aab88c22524145c0aed37292517 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore: replace discord link with telegram
  README.md
  apps/benchmarks/README.md
  packages/contracts/contracts/README.md
  packages/heyauthn/README.md
  packages/identity-proof/README.md
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@020a90234aecbde3770a43b5615119893ee7bdff 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  index.html
  modules/_semaphore_extensions_heyauthn.html
  modules/_semaphore_extensions_identity_proof.html
  modules/contract_extensions.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

docs(contracts): improve whistleblowing contract docs
  package.json
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
Due: prettier --write

Update packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
Due: prettier --write

docs(contracts): improve whistleblowing contract docs (#18)
  package.json
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@95f15e6bff777088c8a6e5b6915bde8974345dbb 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

feat: add new semaphore explorer to apps
  .gitignore
  apps/explorer/LICENSE
  apps/explorer/README.md
  apps/explorer/next.config.mjs
  apps/explorer/package.json
  apps/explorer/postcss.config.mjs
  apps/explorer/src/app/[network]/[group]/page.tsx
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/app/favicon.ico
  apps/explorer/src/app/fonts/GeistMonoVF.woff
  apps/explorer/src/app/fonts/GeistVF.woff
  apps/explorer/src/app/globals.css
  apps/explorer/src/app/layout.tsx
  apps/explorer/src/components/Navbar.tsx
  apps/explorer/src/components/SearchBar.tsx
  apps/explorer/tailwind.config.ts
  apps/explorer/tsconfig.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write, eslint --fix

style(explorer): fix code style with prettier
  apps/explorer/postcss.config.mjs
  apps/explorer/src/app/globals.css
Due: none

fix(explorer): fix filtered groups search
  apps/explorer/src/app/[network]/page.tsx
Due: prettier --write

feat(explorer): add loader to pages
  apps/explorer/src/app/[network]/[group]/page.tsx
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/app/globals.css
Due: prettier --write
