Repository semaphore-protocol/extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,ts}": "eslint --fix"
}

style: format code with prettier
  .commitlintrc.js
  .prettierrc.json
  changelogithub.config.json
  jest.config.ts
Due: prettier --write, eslint --fix

feat(heyauthn): add heyauthn package
  packages/heyauthn/LICENSE
  packages/heyauthn/README.md
  packages/heyauthn/build.tsconfig.json
  packages/heyauthn/package.json
  packages/heyauthn/rollup.config.ts
  packages/heyauthn/src/hey-authn.ts
  packages/heyauthn/src/index.ts
  packages/heyauthn/tests/index.test.ts
  packages/heyauthn/tsconfig.json
  packages/heyauthn/typedoc.json
Due: prettier --write, eslint --fix

chore(heyauthn): update rollup dependency
  package.json
  packages/heyauthn/README.md
  packages/heyauthn/package.json
  yarn.lock
Due: prettier --write

feat: add benchmarks app
  apps/benchmarks/README.md
  apps/benchmarks/index.html
  apps/benchmarks/package.json
  apps/benchmarks/public/icon.svg
  apps/benchmarks/public/semaphore-logo.svg
  apps/benchmarks/src/App.tsx
  apps/benchmarks/src/assets/semaphore.svg
  apps/benchmarks/src/components/GroupMembers.tsx
  apps/benchmarks/src/components/Navbar.tsx
  apps/benchmarks/src/components/TreeDepth.tsx
  apps/benchmarks/src/main.tsx
  apps/benchmarks/src/vite-env.d.ts
  apps/benchmarks/tsconfig.json
  apps/benchmarks/tsconfig.node.json
  apps/benchmarks/vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: use czg instead of cz + cz-git
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: prettier --write

refactor(benchmarks): update semaphore logo
  apps/benchmarks/public/icon.svg
  apps/benchmarks/public/semaphore-logo.svg
  apps/benchmarks/src/assets/semaphore.svg
Due: none

style(benchmarks): format code with prettier
  apps/benchmarks/index.html
Due: none

refactor: update ignore files
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore: add scripts
  .lintstagedrc.json
  apps/benchmarks/src/App.tsx
  apps/benchmarks/src/components/GroupMembers.tsx
  apps/benchmarks/src/components/TreeDepth.tsx
  package.json
  scripts/clean-apps.ts
  scripts/clean-packages.ts
  scripts/remove-stable-version-field.ts
Due: prettier --write, eslint --fix

ci: add .github folder with templates and workflows
  .github/ISSUE_TEMPLATE/---bug.md
  .github/ISSUE_TEMPLATE/---feature.md
  .github/ISSUE_TEMPLATE/---package.md
  .github/ISSUE_TEMPLATE/♻️-refactoring.md
  .github/pull_request_template.md
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
Due: prettier --write

feat: add typedoc
  .eslintignore
  .gitignore
  .prettierignore
  package.json
  typedoc.json
  yarn.lock
Due: prettier --write

style: add space at the end of the pre-commit file
  .husky/pre-commit
Due: none

ci: add github workflow to generate and deploy the type docs
  .github/workflows/docs.yml
  package.json
Due: prettier --write

ci: update production github workflow to add coveralls
  .github/workflows/production.yml
Due: none

ci: update coveralls in production workflow
  .github/workflows/production.yml
Due: none

ci: use a fixed coveralls github action
  .github/workflows/production.yml
Due: none

chore: update remove stable version script
  scripts/remove-stable-version-field.ts
Due: prettier --write, eslint --fix

chore(heyauthn): v1.0.0
  package.json
  scripts/remove-stable-version-field.ts
Due: prettier --write, eslint --fix

chore: remove console log
  scripts/remove-stable-version-field.ts
Due: prettier --write, eslint --fix

chore(heyauthn): update package version
  packages/heyauthn/package.json
Due: prettier --write

chore(heyauthn): v1.0.0
  packages/heyauthn/package.json
Due: prettier --write

chore: update docs workflow to add target branch
  .github/workflows/docs.yml
Due: none

chore: update version of the github pages action
  .github/workflows/docs.yml
Due: none

chore: update docs workflow
  .github/workflows/docs.yml
Due: none

chore: add a different action to deploy the docs
  .github/workflows/docs.yml
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@39999f3408d6fab9e4c2725fa92dd7d26812a3e3 🚀
  .nojekyll
  classes/HeyAuthn.html
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@2f18599ada50539deaf2afe4a37ad1e749496933 🚀
  classes/HeyAuthn.html
Due: none

chore: update permissions in the docs workflow
  .github/workflows/docs.yml
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@b5f9dfa741443b1c14077af13fd9a06c3499b5ce 🚀
  classes/HeyAuthn.html
Due: none

chore(heyauthn): update version
  packages/heyauthn/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@b6a7635b9eaa6867041757e398e37445b25b7175 🚀
  classes/HeyAuthn.html
Due: none

Update README.md
  packages/heyauthn/README.md
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@6b3ad9287fbd87ec6ed251ccecd740b4c19f8d86 🚀
  classes/HeyAuthn.html
Due: none
