Repository semaphore-protocol/extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,ts}": "eslint --fix"
}

Deploying to gh-pages from @ semaphore-protocol/extensions@25943b7de75c2cfb77dfa01e15e582ef1ab3b196 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  index.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(identity-proof): v1.0.0-beta.1
  packages/identity-proof/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@dce7644783d4dbf6751503ebe10937b93cc59837 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@525cb8baddcbeca2dead1cf8cc6fcf968c8c37c9 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore: update zk-kit dependencies
  packages/identity-proof.circom/package.json
  packages/identity-proof/package.json
  yarn.lock
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@3756ff3581b82a96cdcecfca8331fcde34b7223d 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(identity-proof): v1.0.0-beta.2
  packages/identity-proof/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@ff7348fedd790e7fec59fda5ae94a9eef44eb3fd 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(identity-proof.circom): v1.0.0-beta.1
  packages/identity-proof.circom/package.json
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@3f3179e0e6791272a0d6d8e273f699d62816a931 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(benchmarks): update semaphore version
  apps/benchmarks/package.json
  yarn.lock
Due: prettier --write

chore(benchmarks): update semaphore version (#11)
  apps/benchmarks/package.json
  yarn.lock
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@be3460724cee6aa7347f63afa3a56c23914bc85d 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

fix(benchmarks): set correct group members for v4
  apps/benchmarks/package.json
  apps/benchmarks/src/App.tsx
Due: prettier --write

docs: update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

chore: update lockfile
  yarn.lock
Due: none

docs: update pull_request_template.md (#13)
  .github/pull_request_template.md
Due: prettier --write

fix(benchmarks): set correct group members for v4 (#12)
  apps/benchmarks/package.json
  apps/benchmarks/src/App.tsx
  yarn.lock
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@82feeccce7aaf6601383981aa0c79a537d50f3ed 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@0f81734ef8ab1c4f0770536bb8519ce0ec683cfd 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

feat(contracts)!: introduces Semaphore extension contracts with v4
  .lintstagedrc.json
  packages/contracts/.editorconfig
  packages/contracts/.env.example
  packages/contracts/.eslintignore
  packages/contracts/.eslintrc.json
  packages/contracts/.gitignore
  packages/contracts/.prettierignore
  packages/contracts/.prettierrc.json
  packages/contracts/.yarn/releases/yarn-4.1.0.cjs
  packages/contracts/.yarnrc.yml
  packages/contracts/README.md
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/interfaces/ISemaphoreWhistleblowing.sol
  packages/contracts/package.json
  packages/contracts/scripts/utils.ts
  packages/contracts/tasks/deploy-semaphore-voting.ts
  packages/contracts/tasks/deploy-semaphore-whistleblowing.ts
  packages/contracts/test/Feedback.ts
  packages/contracts/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor(contracts): fixing the voters contracts
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/interfaces/ISemaphoreVoting.sol
Due: prettier --write

docs(contracts): updated instructions on setting up contracts
  packages/contracts/README.md
Due: prettier --write

ci(contracts): scripts that deploy contracts and gets addresses
  packages/contracts/README.md
  packages/contracts/package.json
  packages/contracts/tasks/deploy-semaphore-voting.ts
  packages/contracts/tasks/deploy-semaphore-whistle-blowing.ts
Due: prettier --write, eslint --fix

test(contracts): added test for both whistleblowing and voting
  packages/contracts/test/Feedback.ts
  packages/contracts/test/SemaphoreVoting.ts
  packages/contracts/test/SemaphoreWhistleblowing.ts
Due: prettier --write, eslint --fix

refactor(contracts): refactored contracts to use v4 and added license and README
  packages/contracts/contracts/LICENSE
  packages/contracts/contracts/README.md
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
  packages/contracts/contracts/package.json
Due: prettier --write

build(contracts): added dependencies and deploye contracts
  packages/contracts/README.md
  packages/contracts/hardhat.config.ts
  packages/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/interfaces/ISemaphoreWhistleblowing.sol
  packages/contracts/scripts/utils.ts
  packages/contracts/tasks/accounts.ts
  packages/contracts/tasks/deploy-semaphore-voting.ts
Due: prettier --write, eslint --fix

chore(contracts): corrected dependency
  packages/contracts/package.json
Due: prettier --write

docs(contracts): refactored the docs
  packages/contracts/contracts/README.md
Due: prettier --write

chore(contracts): fixed documentation and configuration files
  .gitignore
  packages/contracts/.editorconfig
  packages/contracts/.eslintignore
  packages/contracts/.gitignore
  packages/contracts/.prettierignore
  packages/contracts/.yarn/releases/yarn-4.1.0.cjs
  packages/contracts/.yarnrc.yml
  packages/contracts/README.md
  packages/contracts/contracts/README.md
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write

docs(contracts): created a sym link to README
  .gitignore
  packages/contracts/README.md
  packages/contracts/test/SemaphoreWhistleblowing.ts
Due: prettier --write, eslint --fix

ci(contracts): added scripts to test and compile
  package.json
Due: prettier --write

ci(contracts): fixed config files and solhint script
  package.json
  packages/contracts/.solhint.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write

docs(contracts): made README docs more general
  packages/contracts/contracts/README.md
Due: prettier --write

fix(contracts): fixed event errors
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
Due: prettier --write

refactor(contracts): changed the groups variable to semaphore since I am using the interface
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
Due: prettier --write

refactor(contracts): removed unsused argument
  packages/contracts/contracts/SemaphoreVoting.sol
Due: prettier --write

fix(contracts): refactored the contracts and removed unuses parameters
  packages/contracts/.eslintrc.json
  packages/contracts/contracts/README.md
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreVoting.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
Due: prettier --write

docs(contracts): updated Documentation by removing groupId
  packages/contracts/contracts/README.md
Due: prettier --write

refactor(contracts): removed inheritance from SemaphoreGroups
  packages/contracts/contracts/SemaphoreVoting.sol
  packages/contracts/contracts/SemaphoreWhistleblowing.sol
  packages/contracts/contracts/interfaces/ISemaphoreWhistleblowing.sol
Due: prettier --write
